@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');
body {
	font-family:Raleway;
}
.main-body {
	background:#444444;
}
.main-titles {
	font-size:30;
	color:#efefef;
	background-image:url("../images/headerArchery.png");
  	background-repeat:no-repeat;
	background-size:cover;
	padding:5px;
	border-radius: 40px 40px 40px 40px;
}
.main-introductory-info {
	background:#666666;
	font-size:25;
	color:#efefef;
	border-radius: 15px 15px 15px 15px;
	padding:5px;
}

.main-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 0px;
}

.main-left  { 
	grid-area: 1 / 1 / 2 / 3; 
	font-size:22;
	background:#666666;
	border-radius: 40px 40px 40px 40px;
	padding:5px;
}
.main-right { 
	grid-area: 1 / 4 / 2 / 6; 
	font-size:22;
	background-image:url("../images/.png");
	border-radius: 40px 40px 40px 40px;
	padding:5px;
}
.main-photo { 
	grid-area: 1 / 3 / 2 / 4; 
	font-size:22; 
	background:#666666;
	border-radius: 40px 40px 40px 40px;
	padding:5px;
}

.textbox {
  width: 100px;
  height: 100px;
  background-color: orange;
  margin: 10px;
  border-radius: 10px;
}