@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');
/*
class = "main-titles"
*/

.main-body {
	font-family:Raleway;
	background:#666666ff;
}
.main-titles {
	font-size:40;
	color:#efefefff;
}