@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');
body {
	font-family:Raleway;
}
a:hover, a:active {
  text-decoration: none;
  color: inherit; 
}
a {
  text-decoration: none;
  color: #efefef; 	
}
.main-body {
	background-image: linear-gradient(#00000055, #55555555), url("../images/mainbackground.png");
	background-size:cover;
  	background-repeat:no-repeat;
}
.main-titles {
	font-size:20;
	color:#efefef;
	background-image: url("../images/headerArchery.png");
  	background-repeat:no-repeat;
	background-size:cover;
	padding:5px;
	border-radius: 40px 40px 40px 40px;
}
.main-introductory-info {
	background:#7777779B;
	font-size:25;
	color:#efefef;
	border-radius: 30px 5px 75px 5px;
	padding:5px;
}

.main-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 0px;
}

.main-left  { 
	grid-area: 1 / 1 / 2 / 3; 
	font-size:22;
	background-image: linear-gradient(#000000ff, #00000055);
	color:#efefef;
	border-radius: 30px 5px 75px 5px;
	padding:5px;
}
.main-right { 
	grid-area: 1 / 4 / 2 / 6; 
	font-size:22;
	background-image: linear-gradient(#000000ff, #00000055);
	color:#efefef;
	border-radius: 30px 5px 75px 5px;
	padding:5px;
}
.main-photo { 
	grid-area: 1 / 3 / 2 / 4; 
	font-size:20;
	color:#efefef;
	background-image:linear-gradient(#0000009b, #00000033), url("../images/headerArchery.png");
	background-size: cover;
	background-size: no-repeat;
	border-radius: 40px 40px 40px 40px;
	padding:5px;
}

.main-container-buttons {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height: 70%;
}

.main-button1 { 
	grid-area: 1 / 1 / 3 / 2; 
	color: #efefef;
	border-radius: 50px 2px 50px 2px;	
	text-align:center;
	padding:1%;
	align-items: center;
	background-image:linear-gradient(#0000009b, #000000aa), url("../images/tristan.png");
	background-size:cover;
}
.all-buttonInfo {
	width: 97%;
	height: 97%;
	display:grid;
}

.main-buttonInfo {
	align-items: center;
	text-align: center;
	display:grid;
	color: #efefef;
	border-radius: 3% 30% 3% 30%; 
}
.main-button2 { 
	background-image: linear-gradient(#000000ff, #00000055), url("../images/generalinfo.png");
	background-size:cover;
	background-repeat:none;
}
.main-button3 { 
	background-image: linear-gradient(#000000ff, #00000055), url("../images/education.png");
	background-size:cover;
	background-repeat:none;
}
.main-button4 {
	background-image: linear-gradient(#000000ff, #00000055), url("../images/workplace.png");
	background-size:cover;
	background-repeat:none;
} 

.main-button5 {
	background-image: linear-gradient(#000000ff, #00000055), url("../images/hobbies.png");
	background-size:cover;
	background-repeat:none;
}
.main-button6 {
	background-image: linear-gradient(#000000ff, #00000055), url("../images/computing.png");
	background-size:cover;
	background-repeat:none;
}
.main-button7 {
	background-image: linear-gradient(#000000ff, #00000055), url("../images/skills.png");
	background-size:cover;
	background-repeat:none;
}
.main-button8 {
	background-image: linear-gradient(#000000ff, #00000055), url("../images/download.png");
	background-size:cover;
	background-repeat:none;
}
.main-button9 {
	background-image: linear-gradient(#000000ff, #00000055), url("../images/options.png");
	background-size:cover;
	background-repeat:none;
}
